@font-face {
  font-family: iconfont; /* Project id 4742284 */
  src: url('https://at.alicdn.com/t/c/font_4742284_gq5ku3dth6i.woff?t=1736329685999') format('woff'),
  url('https://at.alicdn.com/t/c/font_4742284_gq5ku3dth6i.ttf?t=1736329685999') format('truetype');
}

.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity-bold::before {
  content: "\e684";
}

.icon-filter-bold::before {
  content: "\e685";
}

.icon-backspace-bold::before {
  content: "\e683";
}

.icon-info-bold::before {
  content: "\e681";
}

.icon-setting-bold::before {
  content: "\e680";
}

.icon-game-bold::before {
  content: "\e67f";
}

.icon-circle::before {
  content: "\e67e";
}

.icon-arrow-left-bold::before {
  content: "\e67d";
}

.icon-close::before {
  content: "\e67c";
}

.icon-close-square::before {
  content: "\e67a";
}

.icon-close-square-bold::before {
  content: "\e67b";
}

.icon-setting::before {
  content: "\e677";
}

.icon-friend::before {
  content: "\e678";
}

.icon-add-user::before {
  content: "\e679";
}

.icon-Game::before {
  content: "\e676";
}

.icon-arrow-left-circle-bold::before {
  content: "\e675";
}

.icon-arrow-left-circle::before {
  content: "\e672";
}

.icon-left::before {
  content: "\e673";
}

.icon-edit::before {
  content: "\e671";
}

.icon-right::before {
  content: "\e674";
}

.icon-refresh-bold::before {
  content: "\e658";
}

.icon-left-btn-bold::before {
  content: "\e65a";
}

.icon-ranking::before {
  content: "\e657";
}

.icon-mdi--check-bold::before {
  content: "\e656";
}

.icon-jam--rubber::before {
  content: "\e655";
}

.icon-hourse::before {
  content: "\e64f";
}

.icon-kid-star::before {
  content: "\e650";
}

.icon-a-material-symbols--undo-rounded1::before {
  content: "\e651";
}

.icon-solar--crown-bold::before {
  content: "\e653";
}
